* {
    margin: 0;
}
body{
    width: 100vw;
    height: 100vh;
    background-image: url("images/blue-background.jpg") ; 
    background-size: 100% 100%;
    background-position: center; 
    background-repeat: no-repeat;
    
    

}

header {
    height: 20%;

}
.header > *{
    font-size: 1rem;
    margin: 0;
    display: inline-block;

}
.container1 {
    margin: 0;
    display: inline-block;
}

.statsContainer{
    display:inline-block;
    width: 100%;
    height: 20%;
    margin: 0;
    vertical-align: top;
    text-align: center;
}
.statsContainer > *{
    display: inline-block;
}
.games-played{
    position: relative;
    right: 20%;
    top: 30%;
}
.accuracy{
    position: relative;
    left: 20%;
    top: 30%;
}
.attempts{
    position: relative;
    top: 30%;
}
.attempts > *{
    display: inline-block;
}
.accuracy > * {
    display: inline-block;
}
.games-played > *{
    display: inline-block;
}

.game-area{
    width: 80%;
    height: 80%;
    margin: 0;
    font-size: 0;
    display: inline-block;
    position: relative;
    left: 10%;

}
.reset{
    display: inline-block;
    vertical-align: top;
    position: relative;
    left: 5%;
}
.card {
    width: 15%;
    height: 30%;
    position: relative;
    display: inline-block;
    margin: 0;


}
.card > * {
    width: 80%;
    height: 80%;

    position: absolute;
    left: 10%;
    top: 5%;

}
.front{
    background-size: 100% 100%;
    background-repeat:no-repeat;
}
.front1{
    background-image: url("images/1.png");

}
.front2{
    background-image: url("images/2.jpg");

}
.front3{
    background-image: url("images/3.jpg");

}
.front4{
    background-image: url("images/4.jpg");
}
.front5{
    background-image: url("images/5.jpg");
}
.front6{
    background-image: url("images/6.jpeg");
}
.front7{
    background-image: url("images/7.jpg");
}
.front8{
    background-image: url("images/8.png");
}
.front9{
    background-image: url("images/9.jpg");
}
.back {
    background-image: url("images/lorax-back.jpg");
    background-size: 100% 100%;
    background-repeat:no-repeat;


}
.hide .back {
    display: none;
}


.modalWin{
    
}
.modalOff{
    display:none;
}
.modalOn{
    display:block;
}
