* {
    margin: 0;
}
body {
    /* width: 100vw; */
    /* height: 100vh; */
    background-image: url(images/sushiBackground.png);
    background-size: 100% 100%;
    background-position: center;
    /* background-repeat: no-repeat; */
}

header {
    height: 20%;

}
.header > *{
    font-size: 1rem;
    margin: 0;
    display: inline-block;

}
.container1 {
    margin: 0;
    display: inline-block;
}

.statsContainer{
    display:inline-block;
    width: 100%;
    height: 20%;
    margin: 0;
    vertical-align: top;
    text-align: center;
}
.statsContainer > *{
    display: inline-block;
}
.games-played{
    position: relative;
    right: 20%;
    top: 30%;
}
.accuracy{
    position: relative;
    left: 20%;
    top: 30%;
}
.attempts{
    position: relative;
    top: 30%;
}
.attempts > *{
    display: inline-block;
}
.accuracy > * {
    display: inline-block;
}
.games-played > *{
    display: inline-block;
}

.game-area {
    height: 80%;
    margin: 0;
    font-size: 0;
    display: inline-block;
}
.reset {
    display: inline-block;
    vertical-align: top;
    position: relative;
    
}
.reset > div {
    position: relative;
    width: 100%;
    margin: 0;
    text-align: center;
    border: 1px black solid;
    border-radius: 4px;
    background-color: aliceblue;
    max-width: 210px;
}
.card {
    width: 15%;
    height: 30%;
    position: relative;
    display: inline-block;
    margin: 0;


}
.card > * {
    width: 90%;
    height: 90%;
    position: absolute;
    left: 10%;
    top: 5%;
}  
.front {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: cadetblue;
    background-position-y: center;
    background-size: contain;
}
.front1{
    background-image: url("images/sushi1.png");

}
.front2{
    background-image: url("images/sushi2.png");

}
.front3{
    background-image: url("images/sushi3.png");

}
.front4{
    background-image: url("images/sushi4.png");
}
.front5{
    background-image: url("images/sushi5.png");
}
.front6{
    background-image: url("images/sushi6.png");
}
.front7{
    background-image: url("images/sushi7.png");
}
.front8{
    background-image: url("images/sushi8.png");
}
.front9{
    background-image: url("images/sushi9.png");
}
.back {
    background-image: url(images/drSeussLogo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #54c5c5;
    background-position-y: center;
}
 .hideCard .back {
    display: none;
} 
.hidingCard{
    -webkit-transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
     -ms-transition: opacity 0.5s ease-in;
      -o-transition: opacity 0.5s ease-in;
         transition: opacity 0.5s ease-in;
    opacity: 0;
     position: absolute;
    box-sizing: border-box;
}








.win-modal {
    position: absolute;
    /* top: 6%; */
    /* left: 33%; */
    height: 100%;
    width: 100%;
    z-index: 7;
    opacity: 1;
    /* text-align: center; */
    /* text-align: center; */
    /* margin: auto; */
    /* justify-content: center; */
}
.displaynone{
    display: none;
}
.trophy {
    height: 52%;
    width: 100%;
    background-image: url(images/modal_Win_img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: auto;
    margin-top: 14%;
}
.modalTextWinning {
    text-align: center;
    padding-top: 11%;
    padding-bottom: 6%;
    font-size: 2rem;
}
.playAgain{
    text-align: center;
    padding: 0%;
    font-size: 2rem;
}

.hidden {
    opacity: 0;
    animation: .6s fadeout linear 0s 1;
    z-index: -1;
}.hidden2 {
    opacity: 0;
    animation: .6s fadeout2 linear 0s 1;
    z-index: -1;
}
.show {
    opacity: 1;
    animation: .6s fadein linear 0s 1;
}
.show2 {
    opacity: .8;
    animation: .6s fadein2 linear 0s 1;
}

@media screen and (orientation: portrait){
    .statsContainer > * {
        position: relative;
        left: 0;
        top: 0;
    }
    header {
        height: 10%;
    }
    .divAboveRow{
        height:80%;
    }
    .game-area {
        height: 100%;
        margin: 0;
        font-size: 0;
        display: inline-block;
        padding:0;
    }
    body {
        /* background-repeat: repeat; */
        /* background-size: auto; */
    }
    .win-modal {
        position: absolute;
        height: 100%;
        width: 100%;
    }
    .trophy {
        height: 23%;
        width: 100%;
        background-image: url(images/modal_Win_img.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin: auto;
        margin-top: 68%;
    }
    .modalTextWinning {
        text-align: center;
        padding: 18%;
        font-size: 1rem;
    }

    .card {
        width: 26%;
        height: 17%;
        position: relative;
        display: inline-block;
        margin: 0;
    }
}


